# --- Git ---
.git
.gitignore

# --- Node.js ---
node_modules
**/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
# ⚠️ متستبعدش pnpm-lock.yaml ولا pnpm-workspace.yaml

# --- TurboRepo cache ---
.turbo

# --- Environment files ---
.env
.env.*

# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt

# --- IDE / OS ---
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Desktop.ini
Thumbs.db
